In [1]:
import pandas as pd
import re

In [2]:
jokes = pd.read_csv('jokes_combined.csv', usecols=['Question', 'Answer'])
jokes.head()

,Question,Answer
0,Did you hear about the Native American man tha...,He nearly drown in his own tea pee.
1,What's the best anti diarrheal prescription?,Mycheexarphlexin
2,What do you call a person who is outside a doo...,Matt
3,Which Star Trek character is a member of the m...,Jean-Luc Pickacard
4,What's the difference between a bullet and a h...,A bullet doesn't miss Harambe

In [10]:
def is_string(line):
    return isinstance(line, str)

In [12]:
mask_is_string = jokes['Question'].apply(is_string) & jokes['Answer'].apply(is_string)
mask_is_string

0         True
1         True
2         True
3         True
4         True
5         True
6         True
7         True
8         True
9         True
10        True
11        True
12        True
13        True
14        True
15        True
16        True
17        True
18        True
19        True
20        True
21        True
22        True
23        True
24        True
25        True
26        True
27        True
28        True
29        True
          ...
216323    True
216324    True
216325    True
216326    True
216327    True
216328    True
216329    True
216330    True
216331    True
216332    True
216333    True
216334    True
216335    True
216336    True
216337    True
216338    True
216339    True
216340    True
216341    True
216342    True
216343    True
216344    True
216345    True
216346    True
216347    True
216348    True
216349    True
216350    True
216351    True
216352    True
Length: 216353, dtype: bool

In [14]:
jokes = jokes[mask_is_string]
jokes.shape

(214642, 2)

In [8]:
def preprocess(line):
    return line.lower().strip('\n')

In [15]:
jokes['Question'] = jokes['Question'].apply(preprocess)

In [16]:
jokes['Answer'] = jokes['Answer'].apply(preprocess)
jokes.head()

,Question,Answer
0,did you hear about the native american man tha...,he nearly drown in his own tea pee.
1,what's the best anti diarrheal prescription?,mycheexarphlexin
2,what do you call a person who is outside a doo...,matt
3,which star trek character is a member of the m...,jean-luc pickacard
4,what's the difference between a bullet and a h...,a bullet doesn't miss harambe

Get jokes of a certain 'type'

In [19]:
def get_what_did_jokes(line):
    return bool(re.search(r'^[Ww]hat[\s]+did', line))

In [55]:
jokes_what_did = jokes[jokes['Question'].apply(get_what_did_jokes)]
jokes_what_did.shape

(14557, 2)

In [23]:
from profanity import profanity

In [28]:
def clean_profanity(line):
    return profanity.contains_profanity(line['Question']) | profanity.contains_profanity(line['Answer'])

In [56]:
mask_profanity = jokes_what_did.apply(clean_profanity, axis=1)
mask_profanity

20        False
58        False
72        False
77        False
95        False
100       False
112       False
115        True
131       False
134       False
143       False
151       False
156       False
168        True
173       False
227       False
229       False
241       False
258       False
271       False
304       False
309        True
329       False
332       False
350       False
369       False
370       False
396       False
403       False
404       False
          ...
215992    False
215994    False
216028    False
216029    False
216042    False
216064    False
216065    False
216072     True
216078     True
216090    False
216093    False
216115    False
216143    False
216146     True
216165    False
216195    False
216209    False
216212    False
216220    False
216222    False
216241    False
216242    False
216250    False
216260    False
216274    False
216282    False
216287    False
216302    False
216313    False
216327    False
Length: 14557, dtype: bool

In [57]:
mask_profanity.value_counts()

False    13480
True      1077
dtype: int64

In [58]:
jokes_what_did = jokes_what_did[~mask_profanity]
jokes_what_did.shape

(13480, 2)

In [59]:
jokes_what_did.head()

,Question,Answer
20,what did the 2 rednecks say after breaking up?,let's just be cousins.
58,what did the man say to his wife when he faile...,no hard feelings.
72,what did the american wwi vet say to the angry...,can't we just let argonne's be argonne's?
77,what did the farmer say when he lost his tractor?,where's my tractor?
95,what did mohammad eat while in the holy land?,makkah-roni and cheese!

In [60]:
ans = jokes_what_did.loc[146299, :]['Answer']
ans

'where is my tractor?\n\n(i am so sorry).'

In [61]:
ans = remove_newlines(ans)
ans

'where is my tractor?  (i am so sorry).'

In [62]:
def remove_newlines(line):
    return re.sub(r"\n", " ", line)

In [63]:
jokes_what_did['Question'] = jokes_what_did['Question'].apply(remove_newlines)
jokes_what_did['Answer'] = jokes_what_did['Answer'].apply(remove_newlines)
jokes_what_did.loc[146299, :]

Question    what did the farmer say after he lost his trac...
Answer                 where is my tractor?  (i am so sorry).
Name: 146299, dtype: object

In [65]:
ans = jokes_what_did.loc[148561, :]['Answer']
ans

'aww heel no!       kill me right now.'

146299

In [53]:
jokes_what_did.loc[146299, :]

Question    what did the farmer say after he lost his trac...
Answer               where is my tractor?\n\n(i am so sorry).
Name: 146299, dtype: object

In [66]:
jokes_what_did.to_csv('jokes_what_did_1.csv', header=True, index=True)